.part1 {
    color:antiquewhite;
    font-size:400%;
    background-color:#6C6C7D;
}

.part2 {
    color:black;
    font-size:200%;
    background-color:#FA980D;
}

.part3 {
    color:black;
    font-size:100%;
    background-color:#FFC675;
}

h1 { color:#2F2F45; }